<div class="my-4">
	<h1>
		Tìm kiếm bài viết
	</h1>
	<partial name="_SearchForm" />

	<h1>
		Các chủ đề
	</h1>
	@await Component.InvokeAsync("CategoriesWidget")

	@await Component.InvokeAsync("FeaturedPostscs")

	@await Component.InvokeAsync("RandomPosts")

	<h1>
		Tag cloud
	</h1>
</div>